@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 전체 페이지 스크롤 방지 */
  height: 100vh; /* 전체 높이 설정 */
  scroll-behavior: smooth;
}

.snap-mandatory::-webkit-scrollbar {
  display: none;
}

.snap-mandatory {
  -ms-overflow-style: none;
  scrollbar-width: none;
}